* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
    }
}

.cards {
    padding: 1rem;
    /* Ajuste o padding conforme necessário */
}


.categorias section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    min-width: 150px;
    flex: 1 1 150px;
}




body {
    overflow-x: hidden;
}

.logo {
    height: 80px;
}

.carousel-inner>.carousel-item>img {
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.card img {
    width: 80px;
    height: 80px;
}

.card {
    align-items: center;
}

.cards h2 {
    text-align: center;
    color: #ffffff;
}

.cards {
    background: linear-gradient(135deg,
            rgb(180, 101, 100) 0%,
            /* Vermelho escuro */
            rgba(175, 65, 63, 0.8) 50%,
            /* Tom mais claro e translúcido */
            rgb(226, 190, 190) 100%
            /* Branco puro */
        );
}

.btn-primary {
    background: linear-gradient(135deg,
            rgba(109, 28, 27, 1) 0%,
            /* Vermelho escuro */
            rgba(175, 65, 63, 0.8) 50%,
            /* Tom mais claro e translúcido */
            rgb(87, 70, 70) 100%
            /* Branco puro */
        );
}

.carousel-indicators button {
    background: linear-gradient(135deg,
            rgba(109, 28, 27, 1) 0%,
            /* Vermelho escuro */
            rgba(175, 65, 63, 0.8) 50%,
            /* Tom mais claro e translúcido */
            rgb(87, 70, 70) 100%
            /* Branco puro */
        );
}

.categorias section {

    padding: 10px;
    margin: 10px;
    background: #f7f9fa;
    transition: transform 0.3s ease;
}

.categorias section:hover {
    transform: scale(1.1);
}

main {
    background-color: darkgray;
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    /* Espaço entre os elementos */
}

.categorias section {
    flex: 1 1 200px;
    max-width: 25%;
    padding: 10px;
    text-align: center;
    background: #f7f9fa;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.categorias section:hover {
    transform: scale(1.05);
}

.categorias img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}