* {
    margin: 0;
}
body {}
.logo {
    height: 80px;
}
.carousel-inner > .carousel-item > img {
    height: 500px; 
    object-fit: cover;
    border-radius: 20px;
  }
.card img{
    width: 80px;
    height: 80px;
    
}
